// Animation appending containers
.container {
  position: relative;
  height: 100%;
  &__wrapper {
    position: relative;
    opacity: 0;
    top: 300px;
  }
}

.el-scroll-hidden {
  position: relative;
  .container__wrapper {
    position: relative;
    opacity: 0;
    top: 300px;

    animation-name: showContainer;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
}


@keyframes showContainer {
  0% {
    opacity: 0;
    top: 500px;
  }

  100% {
    position: relative;
    opacity: 1;
    top: 0;
  }
}



// Animation for
